.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.notFound > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.notFound span {
    height: 1.5rem;
    width: 2px;
    background-color: green;
}
